version: '3.4'
services:
    mailhog:
        ports:
            - '1122:1025'
    db:
        ports:
            - "3341:3306"
    nginx:
        ports:
            - "8959:80"
            - "8969:8025"
#    RABBIT PORT for web ui
    rabbitmq:
        ports:
            - "15236:15672"

